<p id="notice"><%= notice %></p>

<h1>Bands</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bands.each do |band| %>
      <tr>
        <td class="name"><%= band.name %></td>
        <td><%= band.user_id %></td>
        <td><%= link_to 'Show', band %></td>
        <% if current_user.id == 1 %>
          <td><%= link_to 'Edit', edit_band_path(band) %></td>
          <td><%= link_to 'Destroy', band, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.id == 1 %>
  <%= link_to 'New Band', new_band_path %>
<% end %>
<%= link_to 'Songs', songs_path %>
